@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .open-menu-btn {
    display: none;
  }
  .header-logo {
    margin-right: 120px;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .header-list {
    display: flex;
    gap: 40px;
  }
  .header-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(#2e2f42);
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .active {
    position: relative;
    color: var(#404bbf);
  }
  .header-item.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    border-radius: 2px;
    height: 4px;
    background-color: var(#404bbf);
  }
  .header-contakt {
    display: block;
  }
  .header-contakt-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .header-contakt-l {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--main-txt-cl);
    transition: var(--animation);
  }
  /* main */

  .background {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(var(--grey), var(--grey)),
      url(../images/people_office.jpg);
    max-width: 768px;
  }
  @media screen and (wedkit-min-divice-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .background {
      background-image: linear-gradient(var(--grey), var(--grey)),
        url(../images/people_office.jpg);
    }
    .main-title {
      font-size: 56px;
      line-height: 1.07;
      letter-spacing: 0.02em;
      max-width: 496px;
    }
  }
  .main-list {
    flex-direction: row;
    row-gap: 72px;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 24px;
    flex-wrap: wrap;
  }
  .main-item {
    width: calc((100%-24px) / 2);
  }
  .main-item-title {
    text-align: left;
  }
  .main-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-txt-cl);
  }

  /* Team */

  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  /* portfolio */

  .portfolio-list {
    row-gap: 72px;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    column-gap: 24px;
  }
  .overlay {
    width: calc((100% - 24px) / 2);
  }

  /* footer */

  .footer-bloc {
    display: flex;
    align-items: flex-start;
    width: 584px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .footer-bloc-logo {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .footer-soc {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .footer-form {
    display: flex;
    gap: 24px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .footer-traling-title {
    text-align: start;
  }
  .modal {
    width: 408px;
    min-height: 584px;
  }
}
