:root {
  /* font */
  --primary-font: Roboto, sans-serif;
  --seconary-font: Raleway, sans-serif;
  /* color */
  --main-txt-cl: #434455;
  --lighe-txt-cl: #ffffff;
  --accent-txt-cl: #404bbf;
  --background-cl: #2e2f42;
  --normal-txt-cl: #4d5ae5;
  --color-cloud: #f4f4fd;
  --color-border: #e7e9fc;
  --grey: #2e2f42b3;
  --color-logo: #8e8f99;
  --navyblue-modal: #2e2f4266;
  --dairy: #fcfcfc;
  --icons: #31d0aa;
  /* table */
  --items: 3;
  --indent-vertical: 24px;
  --indent-horizontal: var(--indent-vertical);
  /* Others */
  --animation: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Base styles */
body {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
  background-color: var(--lighe-txt-cl);
}
.container {
  width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
.section{
    padding: 96px 0;
    margin-top: 0;
    margin-bottom: 0;
}

.logo {
  font-family: var(--seconary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--normal-txt-cl);
  display: inline-block;
  margin-bottom: 16px;
}
.logo-dark {
  color: var(--background-cl);
}
.logo-light {
  color: var(--color-cloud);
}

.background-team {
  background-color: var(--color-cloud);
}

/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.card-set {
  /* display: flex;
  flex-wrap: wrap;
  row-gap: var(--indent-horizontalt);
  column-gap: var(--indent-vertical); */
}
.card-set-item {
  /* flex-basis: calc(
    (100% - var(--indent-vertical) * (var(--items) - 1)) / var(--items)
  ); */
  /* width: 100%; */
}

/* header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  padding: 16px 0;
}

.header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  font-family: var(--seconary-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--normal-txt-cl);

}

.header-list {
  display: none;
  
}

.header-contakt-list {
}
.header-contakt {
  display: none;
  font-style: normal;
  margin-left: auto;
}

.open-menu-btn {
    padding: 0;
    line-height: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

/* Header Menu */
.header-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: #fff;
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 40px;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.menu-btn-close {
  display: block;
  margin-left: auto;
  margin-bottom: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid;
  border-radius: 50%;
  background-color: transparent;
  border-color: #e7e9fc;
  position: relative;
}
.menu-btn-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: var(--grey);
}
.menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:active {
  color: #404bbf;
}

.header-menu-span {
  color: #404bbf;
}

.menu-adress-wrapper {
  margin-top: auto;
}

.menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.menu-address-link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.menu-address-link:active {
  color: #404bbf;
}

.menu-soc-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.menu-soc-item {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
}

.menu-soc-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #f4f4fd;
}
/* main */

@media screen and (wedkit-min-divice-pixel-ratio: 2),
(min-resolution:192dpi),
(min-resolution: 2dppx) {
.background {
   background-image: linear-gradient(var(--grey), var(--grey)),
    url(../images/people_office.jpg);
}
}
.main {
}
.main-title-container {
}
.main-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--lighe-txt-cl);
  margin: 0 auto;
  max-width: 216px;
  font-weight: 700;
}
.main-btn {
  background: var(--normal-txt-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--lighe-txt-cl);
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  border: none;
  text-align: center;
  margin-top: 72px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-sabject-icon {
  fill: none;
}
.main-sabject {
}
.main-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 72px;
}
.main-list-bloc {
  
}
.main-item {
  width: 100%;
}
.main-item-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  color: var(--background-cl);
}
.main-item-icon {
  display: none;
}
.main-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--background-cl);
  margin-bottom: 8px;
}
.main-text {
  font-weight: 500;
  color: var(--main-txt-cl);
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}
/* Team */

.main-subject {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--background-cl);
  margin-bottom: 72px;
}
.main-img-bloc {
}
.main-img {
}
.main-team-bloc {
}
.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
  justify-content: center;
}
.main-team {
  background-color: var(--lighe-txt-cl);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.main-team-img {
}
.main-team-content {
  padding: 32px 0;
}
.main-team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--background-cl);
  margin-bottom: 8px;
}
.main-team-profession {
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.container-traling {
}
.traling-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-left: 16px;
  margin-right: 16px;
  transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
}
.traling-item {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
}
.traling-icons {
  width: 100%;
  height: 100%;
  background-color: var(--normal-txt-cl);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.traling-icon{
  fill: var(--color-cloud)
}

/* portfolio */

.portfolio-bloc {
    position: relative;
    overflow: hidden;
}

.portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--background-cl);
  margin-bottom: 8px;
}

.portfolio-item {
}

.overlay {
  width: 288px;
  margin: 0 auto;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shedow: 250ms cubic-bezier(0.4,0,0.2,1);
}
.overlay:hover .overlay-p {
  
}
.overlay-position {
  position: relative;
  overflow: hidden;
}

.overlay-txt {
}

.overlay-p {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: var(--normal-txt-cl);
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-cloud);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-p:hover .overlay-position {
}

.portfolio-tab {
}

.portfolio-list {
  row-gap: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.portfolio-tab-txt {
  padding: 32px 16px;
  border: 1px solid var(--color-border);
  border-top: none;
  margin: 0 auto;
}

.portfolio-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}

/* footer */
.background-footer {
  background-color: var(--background-cl);
  padding: 96px 0;
}
.footer-bloc {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-bloc-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  max-width: 288px;
  margin-bottom: 72px;
}

.footer-txt {
  color: var(--color-cloud);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-soc {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
}
.footer-traling-title {
  color: var(--lighe-txt-cl);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-traling-list {
  display: flex;
  gap: 16px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer-traling-item{
  width: 40px;
  height: 40px;  
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-traling-icons {
  fill: var(--color-cloud);
  width: 100%;
  height: 100%;
  background-color: var(--normal-txt-cl);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* footer-subscribe */

.footer-subscribe {
  display: flex;
  gap: 16px;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.footer-subscribe-title {
  color: var(--lighe-txt-cl);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.footer-form {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer-lable {
}

.footer-input {
  width: 264px;
  height: 40px;
  border: 1px solid var(--lighe-txt-cl);
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  line-height: 2;
  padding: 8px 16px;
  color: var(--lighe-txt-cl);
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shedow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0.3;
}
.footer-input::placeholder {
  color: var(--lighe-txt-cl);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}
.footer-input:focus-within {
  border-color: var(--normal-txt-cl);
}
.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 40px;
  background: var(--normal-txt-cl);
  color: var(--lighe-txt-cl);
  padding: 8px 24px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  flex-direction: row;
  gap: 16px;
  font-size: 16px;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-icon {
  width: 24px;
  height: 24px;
  fill: var(--color-cloud);
}

/* Model styles */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--navyblue-modal);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 288px;
  min-height: 640px;
  background-color: var(--dairy);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 24px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.modal-btn {
  display: flex;
  width: 24px;
  height: 24px;
  background-color: var(--color-border);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 24px;
  right: 24px;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover {
}
.modal-btn:focus {
}
.modal-btn:hover .traling-icon,
.modal-btn:focus .traling-icon {
}

.traling-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--background-cl);
  margin-bottom: 16px;
}
.modal-form {
}
.modal-field {
  margin-bottom: 8px;
}
.modal-field-comment {
  margin-bottom: 16px;
}
.modal-field-check {
}
.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-logo);
  margin-bottom: 4px;
}
.modal-input-wrap {
  position: relative;  
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
}
.modal-input:focus + .modal-icon {
}
.modal-input::placeholder {
}

.modal-icon {
  fill: var(--background-cl);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon:focus {
}
.model-txtarea {
  min-height: 120px;
  width: 100%;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-logo);
  background-color: transparent;
  padding: 8px 16px;
  display: block;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.model-txtarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

/* CheckBox */

.modal-field-check{
  margin-bottom: 24px;  
}
.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-logo);
}
.check-text a {
}

.check-text span {
}
.form-check:checked + .check-text span {
  border-radius: 2px;
  background-color: var(--accent-txt-cl);
  border: 1px solid var(--accent-txt-cl);
  fill: var(--color-cloud);
  border: none;
}
.check-icon {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  background-color: transparent;
}
.policy {
  color: var(--normal-txt-cl);
  line-height: 1.33;
  text-decoration: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 4px;
}
/* Button */
.modal-btn-send {
  display: block;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--lighe-txt-cl);
  cursor: pointer;
  background: var(--normal-txt-cl);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  margin-top: 24px;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  text-align: center;
}
.modal-btn-send:hover {
  
}
.modal-btn-send:focus {
  
}
